.header {
  display: flex;
  flex-direction: row-reverse;
}

.body-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.footer {
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  display: inline-flex;
  justify-content: space-between;
  left: 0;
  width: 100%;
}

.left-wrapper {
  padding-left: 20px;
}

.right-wrapper {
  padding-right: 20px;
}

.search-wrapper {
  padding: 20px;
  width: 90%;
}

.search-bar {
  background: #fff;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 40px;
  width: 100%;
}

.navigation {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: inline;
  padding: 15px 10px;
}

a {
  color: #70757a;
  font-size: 14px;
  font-family: arial, sans-serif;
  text-decoration: none;
}

.search-type-button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  margin: 10px 4px;
  padding: 0 16px;
}